---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormContact from "~/components/forms/FormContact.astro";
---

<Layout>
	<Section>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Contato</h2>
			<p slot="heading-content">Entre em contato conosco! Estamos esperando!</p>
		</Heading>

        <FormContact />
		
	</Section>
</Layout>
